<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
      lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="http://use.typekit.com/zqr3wkt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>

  <body>
    <div id="main">
      <div id="header">
        <a id="logo" href="/">ToPotatoLog</a>
      </div>
      
      <div id="content">
        <h1 id="strap">An ultra simple blog made with Django</h1>
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}
  
        {% block content %}{% endblock %}
      </div>
        
      
  
      <div id="footer"></div>
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
