{% extends 'base.html' %} 
{% block head_title %}{{post.title}}{% endblock %}
{% block title %}{{post.title}}{% endblock %}

{% block content %}
  <div id="post">
    <h2>{{post.title}}</h2>
    <div id="title_date">&mdash; {{post.posted|date:"l, F jS Y"}}</div>    
    {{post.body|safe}}
  </div>
  <div id="comments">
    <center><h2>Comments ""</h2></center><br />
    {% load comments %}
    <ul>
      {% get_comment_list for post as comment_list %}
      {% for comment in comment_list %}
        <li>
          <img src="{{ comment.user.profile.avatar}}" />
          <a href="{% get_comment_permalink comment %}">
            On {{ comment.submit_date }} <em>{{ comment.user.username }}</em> said;
          </a>
          <a name="c{{ comment.id }}"></a>
          <p>
            {{ comment.comment }}
          </p>             
          
        </li>    
      {% endfor %}
    </ul>
    
    {% if not request.user.is_authenticated %}
      <div id="login_to_post">
        Login to post a comment <br /><br />
        {% load facebook %}
        {% facebook_button 'assets/signin_facebook.png' %}
        {% load twitter %}
        {% twitter_button 'assets/signin_twitter.png' %}
      </div>
    {% else %}
      <h3 id="add_comment">Add your comment</h3>
      <div id="logged_in_as">
        <img src="{{ request.user.profile.avatar }}">
        <span>Logged in as {{ request.user }}</span>      
        <a href="{% url socialregistration:logout %}"> logout &rarr;</a>
      </div>
      
      {% include 'comments/blog_comment_form.html' %}
      
    {% endif %}
    
  </div>
  
  
{% endblock %}
