body{
  color: #452632;
  background-color: #E2F7CE;
  text-shadow: 1px 1px 3px #aaa;
}

#main{
  width: 800px;
  margin: auto;
  font-family: brioso-pro;
  font-size: 19px;
}

#header{
  text-align: center;  
}

h1, h2, h3, #logo, #title_date, #logged_in_as span, #login_to_post{
  font-family: natalya;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100%;
}
h2{
  font-weight: bolder;
  font-size: 50px;
  padding: 4px;
}
h3{
  font-size: 40px;
}
#logo{
  font-weight: bold;
  font-size: 5em;
  margin: auto;
  margin-bottom: 2em;
  text-shadow: 1px 1px 2px #000;
  letter-spacing: 8px;
  line-height: 120%;
}

#strap{
  margin: -14px 0 50px 63px
}

a{
  text-decoration: none;
  color: #E4844A;  
}

a:hover{
  color: #E8BF56;
}

#sys_messages{
  text-align: center;
  font-size: 2em;
}

ul{
  margin: 0;
  padding: 0;
}

input, textarea{
  font-family: brioso-pro;
  border: 1px solid #91204D;
  border-radius: 5px;
  padding: 5px;
}
.connect-button input{
  border: 0;
  padding: 0;
}

.code{
  display: block;
  margin: 10px 30px;
  font-family: monospace;  
  text-align: left;
  font-size: 14px;
}

#post{
  margin: 3em 0 2em 0;
  text-align: justify;
  line-height: 1.7em;
  overflow: hidden;  
}
#title_date{
  text-align: right;
  font-size: 32px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.summary{
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 2em;
}

.date{
  font-family: natalya;
  font-size: 24px;
  font-weight: bold;
  width: 120px;
  float: left;
  text-align: center;
  margin-top: 11px;
}

.details{
  width: 645px;
  float: right;
  margin-left: 30px;
}

#add_comment{
  text-align: center;
  margin: 20px 0 20px 0;
}

#comments{
  width: 500px;
  margin: auto;
}

#login_to_post{
  margin-bottom: 20px;
}

#comments img{
  border: 1px solid #E2F7CE;
  border-radius: 10px;
}

#logged_in_as{
  margin-bottom: 20px;
  text-align: center;
}

#logged_in_as img{
  vertical-align: middle;
}

#logged_in_as span{
  font-size: 30px;
  font-weight: bold;
}

#login_to_post{
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
}

#comments textarea{
  width: 470px;
  height: 200px;
  font-size: 30px;
  padding: 15px;
  color: #452632;
}

#comments li{
  list-style-type: none;
  margin-bottom: 3em;
}

#comments p{
  text-align: justify;
}

#comments li img{
  width: 33px;
  height: 33px;
  vertical-align: middle;
}

#id_name, 
#id_email, 
#id_url, 
#comments label, 
#comments .submit-preview,
#id_honeypot{
  display: none;
}

.submit-post{
  font-size: 20px;
  background-color: #E4844A;
}

.connect-button{
  margin-left: 20px;
  display: inline;
}
